*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.911);
    margin: 0;
    padding: 0;
    /* background-color: rgba(254, 166, 1, 0.468); */
    /* background: linear-gradient(rgba(255, 166, 0, 0.607), rgb(174, 118, 14)); */
    /* background:linear-gradient(orange, blue, orange, blue, orange, blue, orange, blue, orange,blue, orange, blue, orange); */
}

h1{
    text-align: center;
    font-size: 500x;
    font-weight: 600;
    margin: 15px;
    color: whitesmoke;
}
h2{
    /* background-color: lightsalmon; */
    width: max-content;
    color: lightsalmon;
    margin: auto;
}
span{
    color: rgb(199, 92, 25);
    font-weight: 900;
}
.add-bx{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.receive-bx{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.todo{
    background-color: rgb(199, 92, 25);
    /* background-color: yellowgreen; */
    width: 350px;
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.todo li{
    flex: 1;
    width: 100px;
    min-width: 0;
    word-wrap: break-word;
    list-style:none;
    color: whitesmoke;       
}

/* .rece ul li button{
    display: flex;
    justify-content: center;
    right: 10px;
    background-color: blueviolet;
    width: 200px;
} */

.btinp{
    cursor: pointer;
    font-weight: 600;
}
.btinp:hover{
    /* background-color: rgba(0, 0, 0, 0.918); */
    /* color: whitesmoke; */
    transform: scale(0.85);
}

#btn-in{
    cursor: pointer;
    font-weight: 600;
    /* transition: 0.7s; */
}
#btn-in:hover{
    background-color: rgb(199, 92, 25);
    color: whitesmoke;
    transform: scale(1.2);
}

/* JUST PRACTICE */

/* ol{
    background-color: aliceblue;
} */

/* ol li:first-child{
    background-color: aquamarine;
    color: red;
}

.todo button:first-child{
    background-color: yellowgreen;
} */

.com-class{
    background-color: rgba(230, 230, 101, 0.607);
    color: black;
}
.com-bt{
    background-color: rgb(199, 92, 25);
    color: whitesmoke;
}